<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0E2D6213-E126-4957-9ECE-F6ED5E452CDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bootracer</string>
			<key>text</key>
			<string>Bootracer</string>
			<key>url</key>
			<string>https://app.support.booking.com/BootRacer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0F78D24D-37F3-45EB-AE06-80391307D207</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>compare</string>
			<key>text</key>
			<string>Compare User</string>
			<key>url</key>
			<string>https://app.support.booking.com/Workday/CompareUserDetails</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1308DF8A-41D4-4A45-877A-A8476F90C9B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>workplace</string>
			<key>text</key>
			<string>Workplace</string>
			<key>url</key>
			<string>https://booking.facebook.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7867DADB-7292-4242-A430-CE41A5420486</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>clearpass</string>
			<key>text</key>
			<string>Clearpass</string>
			<key>url</key>
			<string>https://10.186.168.217/tips/tipsContent.action#1521541153070</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7AE0112F-E94B-46C5-BAE0-593F5ADABD9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>itsupport</string>
			<key>text</key>
			<string>IT Support</string>
			<key>url</key>
			<string>https://federate.booking.com/adfs/ls?RelayState=https%3A%2F%2Fitsupport.booking.com%2Fhc%2Fen-us%3Fflash_digest%3Dabad9657211679d48dfedda5781bb8a46490dced&amp;brand_id=967165&amp;SAMLRequest=fZFLT8MwEITv%2FIrIdydxm6BgNamiVkiVCkItcODmOltq1Y%2Fgdcrj15MGKpUD%0APa3kndHMfp5MP4yODuBROVsSFqdkWl1NUBjd8roLO7uCtw4wRL3OIh8WJem8%0A5U6gQm6FAeRB8nV9t%2BSjOOWtd8FJp8mZ5bJDIIIPfQESLeYlORo8FXmWjWWR%0A0pGAnDIGBRXXICjIbbbZNCzf5rLXI3awsBiEDSUZpayg6Ziy4pHd8DzlWfZC%0AoufTdX0WiepT2MxZ7Az4NfiDkvC0WpZkF0KLPEk2zu2Vfd2BbhvAffwFdpjS%0AmURICYjJsSWpBlJ8aOGrC65Jci785Xvfk1jMH5xW8jOqtXbvMw8iQEmC74BE%0At84bEf5nx2I2vKiGbgcpByOUrpvG9w1JUv2k%2Fv3I6uob%0A</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7C0B64FD-F724-4127-AE78-AC0BD0E8FFB6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Youtube</string>
			<key>url</key>
			<string>https://www.youtube.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>82F05599-FD5D-447E-B59F-D8E071099EC4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zd</string>
			<key>text</key>
			<string>Zendesk</string>
			<key>url</key>
			<string>https://bookinghelpdesk.zendesk.com/agent/filters/146043485</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B3A8F95A-9AA7-4E48-96CB-D63C7D5CC51B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sysadmin</string>
			<key>text</key>
			<string>Sysadmin</string>
			<key>url</key>
			<string>https://www.reddit.com/me/m/sysadmin/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C935C3F9-ED6A-4F4E-8558-D7268DC6906A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Reddit</string>
			<key>url</key>
			<string>https://reddit.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E7830445-06EE-4471-9168-FC8D2D0EAE6B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jamf</string>
			<key>text</key>
			<string>jamf</string>
			<key>url</key>
			<string>https://jamf.booking.com/computers.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FDACBB28-CC47-410A-912A-00EC05E7E30F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>masu</string>
			<key>text</key>
			<string>mas</string>
			<key>url</key>
			<string>macappstore://showUpdatesPage</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
